<div class="background-bar"></div>

<div class="content">
  <div class="header-container">
    <div class="header">
      <img src="assets/logo.png">
      قرعه کشی اول پیج ماهور
    </div>
  </div>
</div>

<div class="table">
  <div class="header" style="box-shadow: none; font-size: 17px">
    تعداد کامنت‌های واجد شرایط
    <span>{{comments_list.length}}</span>
  </div>
</div>


<div class="actions">
  <button class="shuffle" (click)="getComments(true)">
    بر بزن
  <span class="loading-spinner"></span>
  </button>
  <button class="winner" (click)="selectWinner()">انتخاب برنده</button>
</div>


<div class="container-table100">
  <div class="wrap-table100">
    <ng-container *ngIf="winner_loading">
      <div class="winner-counter"></div>
      <span class="counter-number">{{winner_counter}}</span>
    </ng-container>

    <div class="table100 ver1 m-b-110">
      <div class="table100-head">
        <table>
          <thead>
          <tr class="row100 head">
            <th class="cell100 column4">#</th>
            <th class="cell100 column1">Profile Picture</th>
            <th class="cell100 column2">Username</th>
            <th class="cell100 column3">Comment</th>
          </thead>
        </table>
      </div>
      <div class="table100-body js-pscroll ps ps--active-y">
        <table>
          <tbody>
            <tr class="row100 body" [id]="'tr-' + comment['id']" *ngFor="let comment of comments_list" [ngClass]="{'winner': comment['id'] === winner_id}">
              <td class="cell100 column4">{{comment['id']}}</td>
              <td class="cell100 column1">
                <img [src]="comment['profile_pic_url']">
              </td>
              <td class="cell100 column2">{{comment['username']}}</td>
              <td class="cell100 column3">{{comment['text']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
